.hotel-details {
    max-width: 800px;
    margin: 50px auto; 
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif;
    color: #333; 
  }


  .hotel-image {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 20px; 
  }


  .hotel-details h2 {
    font-size: 2rem;
    color: cornflowerblue;
    font-family: cursive;
    margin-bottom: 10px;
    text-align: center;
  }


  .hotel-details h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #555;
  }


  .hotel-details p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 5px 0;
    color: #555;
  }


  .hotel-details ul {
    list-style: none; 
    padding: 0;
    margin-top: 10px;
  }

  .hotel-details ul li {
    font-size: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }


  .hotel-details ul li span {
    font-weight: bold;
    color: #444;
  }


  @media (max-width: 768px) {
    .hotel-details {
      padding: 15px;
    }

    .hotel-details h2 {
      font-size: 1.8rem;
    }

    .hotel-details h3 {
      font-size: 1.3rem;
    }

    .hotel-details p {
      font-size: 0.9rem;
    }

    .hotel-details ul li {
      font-size: 0.9rem;
      padding: 8px;
    }
  }

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto;
    display: block;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 